*{
    padding:0;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    background-color:antiquewhite;
    margin-left:30px;
    padding:15px 40px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:230px;
    width:calc(96vw - 230px);
    z-index:1000;
    box-shadow:3px 0 10px rgba(0,0,0,0.1);
}

.navbar .logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.navbar .logo img{
    width:50px;
    height:45px;
    cursor:pointer;
    transition: 0.3s ease;
}

.navbar .logo h3{
    font-weight: normal;
}

.navbar .nav-links a{
    text-decoration:none;
    color:black;
    font-size:17px;
    transition:0.3s ease;
    margin-right:40px;
}

.navbar .nav-links a:hover{
    color:blue;
}

.navbar .logo img:hover{
    transform:scale(1.2);
}

.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:230px;
    height:100vh;
    background-color:black;
    padding:10px 15px;
    color:white;
}

.sidebar h3{
    margin-top:13px;
    text-align:center;
    margin-bottom:25px;
    padding-bottom:25px;
    border-bottom:1px solid white;
    font-size:22px;
    font-weight: normal;
    letter-spacing: 1px;
}

.sidebar ul{
    list-style-type:none;
}

.sidebar ul li {
    margin:20px 0;
}

.sidebar ul li a{
    margin-top:10px;
    text-decoration: none;
    color:white;
    display:block;
    padding:10px 15px;
    transition:0.3s ease;
}

.sidebar ul li a:hover{
    background-color:gold;
    border-radius:12px;
    color:black;
}

.main-content{
    margin-left:230px;
    margin-top:70px;
    padding:40px;
    padding-left:50px;
}

.main-content h3{
    margin-bottom:15px;
    font-size:22px;
    letter-spacing: 1px;
}

.main-content p{
    color:rgb(64, 64, 64);
}

.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap:20px;
    margin-top:20px;
}

.card{
    background:#fff;
    padding:25px 20px;
    border-radius:12px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    text-align:center;
    transition:all 0.3s ease;
}

.card:hover{
    transform:translateY(-3px);
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.card .card-image img{
    width:200px;
    height:200px;
    margin-bottom:15px;
}